workflows/all_workflows_2026-04-02T13:39:31.860-04:00.json
[{"updatedAt":"2026-04-02T09:14:11.067Z","createdAt":"2026-04-02T08:18:58.555Z","id":"XHx0wNjTKl0j6e8U","name":"AS_news_analysis","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-976,128],"id":"de0aa6f5-3d8f-48dc-b672-e3d0dede9271","name":"Schedule Trigger"},{"parameters":{"operation":"executeQuery","query":"SELECT id, link\nFROM news\nWHERE processed = false\nORDER BY id ASC\nLIMIT 50;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-832,128],"id":"4cc41004-5df8-4876-9afb-f4a1968b1ed7","name":"Execute a SQL query","credentials":{"postgres":{"id":"MWAKq8y3zoMvQl4y","name":"Postgres account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-640,128],"id":"d9e133ff-f451-4ad7-8f88-c86f1dd6e795","name":"Loop Over Items"},{"parameters":{"url":"={{ $json[\"link\"] }}\n","options":{"redirect":{"redirect":{}},"response":{"response":{"responseFormat":"text","outputPropertyName":"body"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[224,240],"id":"fd33760e-5480-4b78-bb8e-bd898f5e6f8b","name":"HTTP Request"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const { id, link } = $input.item.json;\n\nlet sourceType = 'web'; // по умолчанию считаем, что это обычная web-страница\n\nif (link.includes('news.google.com/rss/articles')) {\n  sourceType = 'google_news';\n}\n\nreturn {\n  id,\n  link,\n  sourceType\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-416,128],"id":"857f0bfb-b058-48a8-8bed-e320c5ed7488","name":"Code in JavaScript1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.sourceType }}\n","rightValue":"google_news","operator":{"type":"string","operation":"contains"},"id":"621bcd6c-6bfd-4cee-820f-21328fa70159"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"029151ac-2705-41e9-9e5a-951f257f4a89","leftValue":"={{ $json.sourceType }}\n","rightValue":"web","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-208,128],"id":"660ff7d0-dac3-4a70-bbff-1c30c4c86458","name":"Switch"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,240],"id":"d5efdacb-67f9-41e1-a019-e8958f84561b","name":"Web"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"17918734-398d-41a4-a828-7c3bfc886c03","name":"Rss"},{"parameters":{"operation":"extractHtmlContent","dataPropertyName":"body","extractionValues":{"values":[{"key":"content","cssSelector":"article, [role=\"main\"], .post-content, .entry-content, .article-content, .story-content, .story-body, .article-body, .content, .main-content","skipSelectors":".comments, .sidebar, .related, .recommendations, .newsletter, .advertisement, .social-share, .meta, .footer, header, nav, .widget, .also-read, .more-news, .editor-picks"}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[432,240],"id":"f19de0e9-9371-44a3-81dd-223464d429f2","name":"HTML"},{"parameters":{"method":"POST","url":"http://host.docker.internal:11434/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value": "***REMOVED***"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"granite3.1-moe:1b\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Ты переводчик. Переведи следующий текст на русский язык. Верни только переведённый текст, без комментариев и пояснений.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.content) }}\n    }\n  ],\n  \"temperature\": 0.3\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[192,480],"id":"4f7c2b83-a4ce-49bd-9724-a626457466d3","name":"Call Ollama"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTML","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Rss","type":"main","index":0}],[{"node":"Web","type":"main","index":0}]]},"Web":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8a9a437a-e070-404a-ac52-bab3fc50b78a","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-02T08:18:58.555Z","createdAt":"2026-04-02T08:18:58.555Z","role":"workflow:owner","workflowId":"XHx0wNjTKl0j6e8U","projectId":"9Kr1aqOZ27Ze85UD"}],"activeVersion":null,"tags":[]},{"updatedAt":"2026-04-02T09:14:42.734Z","createdAt":"2026-04-02T08:40:36.569Z","id":"3iz9JrDgjvhLOoGC","name":"AS_news","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"id":"f06f19ca-148d-40ec-87a9-4866fda1ba1c","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[-640,-64]},{"parameters":{"operation":"executeQuery","query":"SELECT id, url, type FROM sources WHERE active = true;","options":{}},"id":"2ec8f6bb-88e9-4802-bed0-9d757a34f418","name":"Select Sources","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[-448,-64],"credentials":{"postgres":{"id":"MWAKq8y3zoMvQl4y","name":"Postgres account"}}},{"parameters":{"options":{}},"id":"9a85cae3-50f0-4f0a-b380-4642bb4e3687","name":"Split in Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-240,-64]},{"parameters":{"url":"={{ $json.url }}","options":{"response":{}}},"id":"04c672ac-36dc-4fe5-894f-ee1e56c17b61","name":"Fetch Source","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[-48,-64]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"let { id: source_id, url, type } = $json;\nlet body = $json.body || '';\nlet links = [];\n\nif (type === 'rss') {\n  links = [...body.matchAll(/<link>(.*?)<\\/link>/gi)]\n    .map(m => m[1].trim())\n    .filter(l => l.startsWith('http'));\n}\n\nif (type === 'html') {\n  links = [...body.matchAll(/href=[\"']([^\"']+)[\"']/gi)]\n    .map(m => m[1].trim())\n    .filter(l => l.startsWith('http'));\n}\n\nreturn links.map(link => ({ source_id, link }));"},"id":"0939c7e5-5acc-4ae8-a1ca-c9d081a00fb6","name":"Extract Links","type":"n8n-nodes-base.code","typeVersion":2,"position":[160,-64]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO news (source_id, link, processed)\nSELECT {{$json.source_id}}, '{{$json.link}}', false\nWHERE NOT EXISTS (SELECT 1 FROM news WHERE link = '{{$json.link}}');","options":{}},"id":"1c42124e-a0d4-405a-818a-5bae71d7b189","name":"Insert News","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[368,-64],"credentials":{"postgres":{"id":"MWAKq8y3zoMvQl4y","name":"Postgres account"}}}],"connections":{},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"eff75c03-0a23-41f3-adbd-e37d18c9c515","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-02T08:40:36.569Z","createdAt":"2026-04-02T08:40:36.569Z","role":"workflow:owner","workflowId":"3iz9JrDgjvhLOoGC","projectId":"9Kr1aqOZ27Ze85UD"}],"activeVersion":null,"tags":[]},{"updatedAt":"2026-04-02T17:39:29.884Z","createdAt":"2026-04-02T15:32:42.532Z","id":"GMH4IQIjq5IqwBOE","name":"Workflows backup to GitHub","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const response = $input.first().json;\nif (response.data && Array.isArray(response.data)) {\n  return response.data;\n}\nif (Array.isArray(response)) {\n  return response;\n}\nthrow new Error('Нет массива workflow');"},"id":"0e752b68-cfe4-40cf-b4bb-68f76d9ae343","name":"Extract Array","type":"n8n-nodes-base.code","position":[-1232,16],"typeVersion":2},{"parameters":{"operation":"toJson","options":{}},"id":"e40e5536-84b1-49ab-b3a4-2f3eee9a6849","name":"Convert to File","type":"n8n-nodes-base.convertToFile","position":[-1008,16],"typeVersion":1.1},{"parameters":{"operation":"write","fileName":"/home/node/.n8n-files/backup/all_workflows.json","options":{}},"id":"2b2e3db5-776c-4f2f-b94d-1b139e51b643","name":"Write to Disk","type":"n8n-nodes-base.readWriteFile","position":[-800,16],"typeVersion":1.1},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"id":"417a756a-43d6-47d9-843e-db3a6d4e4d6b","name":"Schedule Trigger1","type":"n8n-nodes-base.scheduleTrigger","position":[-1664,16],"typeVersion":1.3},{"parameters":{"url":"http://n8n:5678/api/v1/workflows","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value": "***REMOVED***"},{"name":"Accept","value": "***REMOVED***"}]},"options":{}},"id":"ea6f47a4-0530-4ddc-ae96-43032f2ad3b1","name":"Get All Workflows1","type":"n8n-nodes-base.httpRequest","position":[-1440,16],"typeVersion":4.4},{"parameters":{"filePath":"/home/node/.n8n-files/backup/all_workflows.json"},"id":"5cb17cf3-0946-473a-a608-38e5cf0101ed","name":"Read Binary File","type":"n8n-nodes-base.readBinaryFile","typeVersion":1,"position":[-608,16]},{"parameters":{"operation":"binaryToPropery","destinationKey":"base64","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[-432,16],"id":"2e89fad8-5d3f-44f2-b00a-16f613b9cb99","name":"Extract from File"},{"parameters":{"method":"PUT","url":"=https://api.github.com/repos/PeternSamodurau/n8n-backups/contents/workflows/all_workflows_{{$now}}.json","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value": "***REMOVED***"},{"name":"Content-Type","value": "***REMOVED***"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": \"backup\",\n  \"content\": \"{{$json.base64}}\"\n}\n\n","options":{}},"id":"25331391-fa32-4c2c-8fb2-1538a3303c21","name":"Upload to GitHub","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[0,16],"alwaysOutputData":true},{"parameters":{"jsCode":"const text = Buffer.from($json.base64, 'base64').toString('utf8');\n\nconst cleaned = text\n  .replace(/ghp_[A-Za-z0-9]+/g, '***REMOVED***')\n  .replace(/token\\s+[A-Za-z0-9]+/g, '***REMOVED***')\n  .replace(/\"value\":\\s*\"[^\"]*\"/g, '\"value\": \"***REMOVED***\"');\n\nreturn {\n  base64: Buffer.from(cleaned).toString('base64')\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-224,16],"id":"87e27635-e06f-4ff9-b45c-94e9105503c5","name":"Code in JavaScript"}],"connections":{"Extract Array":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Write to Disk","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Get All Workflows1","type":"main","index":0}]]},"Get All Workflows1":{"main":[[{"node":"Extract Array","type":"main","index":0}]]},"Write to Disk":{"main":[[{"node":"Read Binary File","type":"main","index":0}]]},"Read Binary File":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Upload to GitHub","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"4e2474e3-52ae-4634-b704-9e7bba71db9e","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-02T15:32:42.532Z","createdAt":"2026-04-02T15:32:42.532Z","role":"workflow:owner","workflowId":"GMH4IQIjq5IqwBOE","projectId":"9Kr1aqOZ27Ze85UD"}],"activeVersion":null,"tags":[]},{"updatedAt":"2026-04-02T15:31:48.936Z","createdAt":"2026-04-02T08:31:44.204Z","id":"zsdIM77q7kP328Kg","name":"DB Backup to GitHub","active":true,"isArchived":false,"nodes":[{"parameters":{"filePath":"/home/node/.n8n-files/backup/AS_news.sql"},"id":"45adb65f-13ad-4a0d-871c-85089b9cd4b4","name":"Read Binary File","type":"n8n-nodes-base.readBinaryFile","typeVersion":1,"position":[-512,-48]},{"parameters":{"method":"PUT","url":"=https://api.github.com/repos/PeternSamodurau/n8n-backups/contents/db/AS_news_{{$now}}.sql\n","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value": "***REMOVED***"},{"name":"Content-Type","value": "***REMOVED***"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": \"backup\",\n  \"content\": \"{{$json.base64}}\"\n}\n\n","options":{}},"id":"b78561c3-3f58-44c3-b928-0b8768a41c3f","name":"Upload to GitHub","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-48,-48],"alwaysOutputData":true},{"parameters":{"triggerTimes":{"item":[{"mode":"everyHour","minute":15}]}},"id":"9668ea86-6e86-48fe-89fa-908b0a3d5f5f","name":"Every hour1","type":"n8n-nodes-base.cron","typeVersion":1,"position":[-784,-48]},{"parameters":{"operation":"binaryToPropery","destinationKey":"base64","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[-304,-48],"id":"39b9f2db-1926-4c8a-8a82-0174df3f8e08","name":"Extract from File"}],"connections":{"Read Binary File":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Every hour1":{"main":[[{"node":"Read Binary File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Upload to GitHub","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e43df15d-e59a-4fe0-aa6e-6e9b552a9590","activeVersionId":"e43df15d-e59a-4fe0-aa6e-6e9b552a9590","triggerCount":1,"shared":[{"updatedAt":"2026-04-02T08:31:44.204Z","createdAt":"2026-04-02T08:31:44.204Z","role":"workflow:owner","workflowId":"zsdIM77q7kP328Kg","projectId":"9Kr1aqOZ27Ze85UD"}],"activeVersion":{"updatedAt":"2026-04-02T15:31:52.537Z","createdAt":"2026-04-02T15:31:48.938Z","versionId":"e43df15d-e59a-4fe0-aa6e-6e9b552a9590","workflowId":"zsdIM77q7kP328Kg","nodes":[{"parameters":{"filePath":"/home/node/.n8n-files/backup/AS_news.sql"},"id":"45adb65f-13ad-4a0d-871c-85089b9cd4b4","name":"Read Binary File","type":"n8n-nodes-base.readBinaryFile","typeVersion":1,"position":[-512,-48]},{"parameters":{"method":"PUT","url":"=https://api.github.com/repos/PeternSamodurau/n8n-backups/contents/db/AS_news_{{$now}}.sql\n","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value": "***REMOVED***"},{"name":"Content-Type","value": "***REMOVED***"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": \"backup\",\n  \"content\": \"{{$json.base64}}\"\n}\n\n","options":{}},"id":"b78561c3-3f58-44c3-b928-0b8768a41c3f","name":"Upload to GitHub","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-48,-48],"alwaysOutputData":true},{"parameters":{"triggerTimes":{"item":[{"mode":"everyHour","minute":15}]}},"id":"9668ea86-6e86-48fe-89fa-908b0a3d5f5f","name":"Every hour1","type":"n8n-nodes-base.cron","typeVersion":1,"position":[-784,-48]},{"parameters":{"operation":"binaryToPropery","destinationKey":"base64","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[-304,-48],"id":"39b9f2db-1926-4c8a-8a82-0174df3f8e08","name":"Extract from File"}],"connections":{"Read Binary File":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Every hour1":{"main":[[{"node":"Read Binary File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Upload to GitHub","type":"main","index":0}]]}},"authors":"peter samodurov","name":"Version e43df15d","description":"","autosaved":true},"tags":[]}]